.product-container {
  height: 550px;
  position: relative;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.details p {
  margin: 0;
  margin-bottom: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 35px;
  border: none;
}
.footer:hover {
  color: rgb(10, 10, 10);
  background-color: orange;
  transition: 0.5s;
}
